<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!-- ?tinyInt1isBit=false -->
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://159.65.104.7:13306/EXHUB_EXCHANGE?tinyInt1isBit=false"
                        userId="root"
                        password="root">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="io.exhub.exhub_access.pojo.DO" targetProject=".\src">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="io.exhub.exhub_access.pojo.DO"  targetProject=".\src">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="io.exhub.exhub_access.mapper"  targetProject=".\src">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

       <!-- <table tableName="t_identity_authentication" domainObjectName="IdentityAuthenticationDO">
            &lt;!&ndash;<columnOverride column="wallet" javaType="JSONObject" typeHandler="io.exhub.exhub_access.common.JsonTypeHandler"/>&ndash;&gt;
        </table>-->
        <!--<table tableName="t_login_record" domainObjectName="LoginRecordDO"/>-->
        <table tableName="t_identity_authentication" domainObjectName="IdentityAuthenticationDO"/>
        <!--<table schema="DB2ADMIN" tableName="ALLTYPES" domainObjectName="Customer" >
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="ID" sqlStatement="DB2" identity="true" />
            <columnOverride column="DATE_FIELD" property="startDate" />
            <ignoreColumn column="FRED" />
            <columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR" />
        </table>-->

    </context>
</generatorConfiguration>