<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://139.196.29.173:3306/dsb_saas"
                        userId="doushabao"
                        password="dousha8ao@2017@PLsuccess">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.doushabao.saas.pojo.company" targetProject=".\src">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.doushabao.saas.mapper.company"  targetProject=".\src">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.doushabao.saas.mapper.company"  targetProject=".\src">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="t_product_step_price" domainObjectName="ProductStepPrice"/>-->
        <table tableName="t_company" domainObjectName="Company"/>
        <table tableName="t_company_extend" domainObjectName="CompanyExtend"/>
        <table tableName="t_company_extend_type" domainObjectName="CompanyExtendType"/>
        <!--<table tableName="t_order" domainObjectName="Order"/>
        <table tableName="t_order_upload_log" domainObjectName="OrderUploadLog"/>
        <table tableName="t_order_bill_log" domainObjectName="OrderBillLog"/>
        <table tableName="t_order_product" domainObjectName="OrderProduct"/>
        <table tableName="t_wx_pay_log" domainObjectName="WxPayLog"/>-->


        <!--<table schema="DB2ADMIN" tableName="ALLTYPES" domainObjectName="Customer" >
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="ID" sqlStatement="DB2" identity="true" />
            <columnOverride column="DATE_FIELD" property="startDate" />
            <ignoreColumn column="FRED" />
            <columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR" />
        </table>-->

    </context>
</generatorConfiguration>